#login-background
  #content-container
    %div.h20
    #form-container 
      #form-logo
        %h3 登录呐喊网
      -form_tag sessions_path, :id => "form-basic"  do
        #form-header
          %h2 登录呐喊网
        %div.left
          %ul
            %li
              =label_tag :login, "用户名或者邮箱"
              %div
                =text_field_tag :login, params[:login], :class => 'form-input'
            %li
              =label_tag :password, "密码"
              %div  
                =password_field_tag :password, nil, :class => 'form-input'
            %li
              #remember_me   
                =check_box_tag :remember_me, 1, params[:remember_me]
                =label_tag :remember_me, "下次自动登录 | "
                =link_to "忘记密码?", new_password_reset_path
            %li
              =submit_tag "登录", :class => 'button' 
        #form-right
          #form-right-content
            还没有呐喊网帐号？
            =link_to "立即注册!", signup_path
        %div.clear
    %div.h20
